{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "function-url-quotes": "always",
    "string-quotes": "double",
    "no-descending-specificity": null,

    "scss/at-extend-no-missing-placeholder": true,
    "scss/at-function-pattern": "^[a-z]+-[a-z][a-zA-Z]+$",
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-mixin-argumentless-call-parentheses": "always",
    "scss/dollar-variable-colon-newline-after": "always-multi-line",
    "scss/dollar-variable-colon-space-after": "always",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-no-missing-interpolation": true,
    "scss/double-slash-comment-empty-line-before": "never",
    "scss/double-slash-comment-inline": "never",
    "scss/double-slash-comment-whitespace-inside": "always",
    "scss/media-feature-value-dollar-variable": null,
    "scss/operator-no-newline-after": true,
    "scss/operator-no-newline-before": true,
    "scss/operator-no-unspaced": true,
    "scss/percent-placeholder-pattern": "^[a-z]+-[a-z][a-zA-Z]+$",
    "scss/selector-no-redundant-nesting-selector": true,

    "order/properties-alphabetical-order": null
  }
}
